body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background: peru;
    padding: 10px 0px;
}

img{
    width: 100px;
}

nav{
    text-align: center;
}

menu{
    display: inline-block;
    margin: 10px auto;
    padding: 0;
}


menu li{
    list-style: none;
    display: inline-block;
    background-color: black;
    text-align: center;
    padding: 8px;
    width: 176px;
    border-radius: 4px;
    margin: 0 5px; 
}


a{
    text-decoration: none;
    color: yellow;
    padding: 8px;
}